/* ---------------------------- tag main prop ---------------------------- */
main {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 72px 24px;
  z-index: 1;
}
/* ---------------------------- tag main prop ---------------------------- */
.intro {
  margin-top: 60px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.intro .intro-text {
  width: 720px;
}

.intro .intro-text h1 {
  font-size: 48px;
  color: var(--black);
}

.intro .intro-text span {
  color: var(--main);
}

.intro .intro-text p {
  font-size: 24px;
  color: var(--black);
}

.intro .btn.btn-explore{
  margin-top: 24px;
  width: 200px;
  height: 48px;
  line-height: 48px;
}
/* ---------------------------- BTN ---------------------------- */
.btn {
  text-align: center;
  border-radius: 12px;
  background-color: var(--main);
  cursor: pointer;
}

.btn a {
  color: var(--white);
  font-size: 24px;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--main-hover);
}
/* ---------------------------- Intro note ---------------------------- */
.intro .note {
  height: auto;
  width: 360px;
}
/* ---------------------------- Dark theme props ---------------------------- */
.main-wrapper.dark .intro-text h1 {
  color: var(--white);
}

.main-wrapper.dark .intro-text span {
  color: var(--white);
}

.main-wrapper.dark .intro-text p {
  color: var(--white);
}
/* ---------------------------- Media ---------------------------- */
@media (max-width: 900px) {
  .intro .note {
    display: none;
  }
}
