@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.15s ease;
}

:root {
  /* --white: #fff;
  --black: #181818;
  --main: #222222;
  --main-hover: #222222cc;
  --btn: #1a1a1a;
  --btn-hover: #1a1a1a80;
  --light-bg: #2e2e2e; */

    --white: #fff;
    --black: #292722;
    --main: #ffd257;
    --main-hover: #ffd257cc;
    --btn: #e9c258;
    --btn-hover: #e9c25880;
    --light-bg: #fffbf1;
    
    /* --white: #fff;
    --black: #27312b;
    --main: #6ace97;
    --main-hover: #6ace97cc;
    --btn: #59b884;
    --btn-hover: #59b88480;
    --light-bg: #e7fdf1; */

    /* --white: #fff;
    --black: #231f25;
    --main: #ac40f4;
    --main-hover: #ac40f4cc;
    --btn: #8515cf;
    --btn-hover: #8515cf80;
    --light-bg: #fcf8ff; */
}

body {
  position: relative;
  background-color: var(--light-bg);
}

header {
  position: fixed;

  height: 72px;
  width: 100%;

  background-color: var(--main);
  z-index: 2;
}

header .header-box {
  height: 100%;
  max-width: 1200px;

  margin: auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box .logo a {
  font-size: 36px;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
}

.header-box-right {
  height: 48px;

  display: flex;
  align-items: center;
}

.header-box-right .appearance {
  display: flex;
  align-items: center;
}

.appearance .color-switcher {
  display: flex;
  align-items: center;
  position: relative;
}

.appearance .theme-switcher-icon,
.appearance .color-switcher-icon {
  height: 100%;
  width: 48px;

  margin-right: 12px;

  line-height: 48px;
  border-radius: 12px;
  text-align: center;
  color: var(--white);
  font-size: 24px;
  background-color: var(--btn);
  cursor: pointer;
}

.appearance .theme-switcher-icon.dark{
  color: rgb(255, 230, 0);
}

.appearance .color-switcher-dropdown {
  opacity: 0;
  padding: 12px;
  width: 204px;
  position: absolute;
  top: 48px;
  left: -60px;
  border-radius: 12px;
  background-color: var(--main);
  box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.color-switcher-dropdown.open {
  opacity: 1;
  top: 66px;
  left: -60px;
  pointer-events: auto;
}

.color-switcher-dropdown h3 {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

.color-switcher-dropdown .btn-box {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-switcher-dropdown button {
  height: 48px;
  width: 48px;

  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.color-switcher-dropdown button.blue {
  background-color: #ffd257;
}
.color-switcher-dropdown button.purple {
  background-color: #ac40f4;
}
.color-switcher-dropdown button.green {
  background-color: #6ace97;
}
.color-switcher-dropdown button.active {
  box-shadow: inset 0 0 0 3px rgb(240, 240, 240, 1);
}
.color-switcher-dropdown button.color:hover {
  box-shadow: inset 0 0 0 3px rgb(240, 240, 240, 1);
}

.header-box-right .login-signup {
  height: 100%;
  width: 120px;

  line-height: 48px;
  text-align: center;
  border-radius: 12px;
  background-color: var(--btn);
  cursor: pointer;
}

.header-box-right .login-signup:hover,
.appearance .theme-switcher-icon:hover,
.appearance .color-switcher-icon:hover {
  background-color: var(--btn-hover);
}

.header-box-right .login-signup a {
  color: var(--white);
  font-size: 24px;
  text-decoration: none;
}
