@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  transition: all 0.15s ease;
}

:root {
  --white: #fff;
  --black: #252525;
  --main: #f7f7f7;
  --grey: rgb(235, 235, 235);

  --error: rgb(223, 70, 70);

  --color: rgb(61, 133, 201);
  --color-hover: rgb(57, 122, 182);
}

body {
  position: relative;
  background-color: var(--main);

  /* Hide scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

button {
  padding: 4.5px 24px;
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
  outline: none;
  background: var(--color);
  color: var(--white);
  border-radius: 12px;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  backdrop-filter: blur(3px);

  opacity: 0;
  z-index: -9999;
}

.modal.modal-active {
  opacity: 1;
  z-index: 9999;
}

.modal .auth {
  padding: 24px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--main);
  border-radius: 12px;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.1);
}

.modal input {
  padding: 12px;
  margin-top: 24px;
  width: 100%;

  font-size: 0.75rem;
  border-radius: 12px;
  outline: none;
  border: none;
  color: var(--black);
  background-color: var(--white);
}

.modal h3 {
  color: var(--black);
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.modal span{
  color: var(--color);
}

.modal p{
  color: var(--black);
  font-size: .5rem;
}

.modal a{
  text-decoration: none;
  color: var(--color);
  font-size: .5rem;
}

.modal button{
  margin: 24px 0 12px 0;
}

.modal i{
  position: absolute;
  top: -36px;
  color: var(--black);
  cursor: pointer;
}