@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  transition: all 0.15s ease;
}

:root {
  --white: #fff;
  --black: #252525;
  --main: #f7f7f7;
  --grey: rgb(235, 235, 235);

  --error: rgb(223, 70, 70);

  --color: rgb(61, 133, 201);
  --color-hover: rgb(57, 122, 182);
}

body {
  position: relative;
  background-color: var(--main);

  /* Hide scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

button {
  padding: 4.5px 24px;
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
  outline: none;
  background: var(--color);
  color: var(--white);
  border-radius: 12px;
  cursor: pointer;
}